

<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card">

        <img [src]="kandy1" class="img-fluid">

        <div class="card-body">
          <p> Visit Here</p>
        </div>
      </div>
    </div>
      <div class="col-md-4">
        <div class="card">

          <img [src]="colombo1" class="img-fluid">

          <div class="card-body">
            <p> Visit Here</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">

          <img [src]="jaffna1" class="img-fluid">

          <div class="card-body">
            <p> Visit Here</p>
          </div>
        </div>
      </div>
  </div>
</div>

